@font-face {
    font-family: "Roboto";
    src:
        local("Roboto Bold"),
        url("/fonts/Roboto-Bold.eot"),
        url("/fonts/Roboto-Bold.ttf"),
        url("/fonts/Roboto-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto Regular"),
        url("/fonts/Roboto-Regular.eot"),
        url("/fonts/Roboto-Regular.ttf"),
        url("/fonts/Roboto-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main-header , .section-content {
    min-height: 100vh;
}

.header-container {
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    .main-header::after {
        content: "";
        position: absolute;
        background-color: #6C63FF;
        width: 33.333%;
        height: 100vh;
        right: 0;
        top: 0px; 
    }
}


.header-menu {
    padding: calc(50 * 100vh / 800)
             calc(200 * 100vw / 1440);    
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    margin: 0;
    padding-left: 0;
}

.menu-list-item, .icons, .skill-item {
    list-style-type: none;
}

.icons {
    display: flex;
}

.icons, .skills-items {    
    margin: 0;
    padding: 0;
}

.icon:nth-child(n+2) {
    padding-left: 24px;
}

.icons-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.icon-color {
    fill: #ffffff;
}

.menu-list-item:nth-child(n+2) {
    margin-left: calc(100 * 100vw / 1440);
}

.menu {
    color: #3F3D56;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.menu, .link {
    text-decoration: none;
}

.header-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(200 * 100vw / 1440);
}

.header-text {
    width: 575px;
}

.header-text-welcome {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    color: #3F3D56;
}

.header-welcome-else {
    font-style: normal;
    font-weight: 700;
    font-size: calc(1.785vw + 6.285px);
    line-height: 1.5em;
    color: #3F3D56;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 43px;
}

.my-photo {
    object-fit: cover;
    max-width: 100%;
    display: block;
}

@media (min-width: 768px) {
    .photo-img {
        margin-left: 40px;;
        border-radius: 2px;
        overflow: hidden; 
    }

    .my-photo {
        width: 424px;
    }
}

/* .design-button {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #6C63FF;
    border: 2px solid #6C63FF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 55px;
} */

.main-buttons {
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #6C63FF;
    border: 2px solid #6C63FF;
    background-color: #ffffff;
    border-radius: 2px;
    width: 160px;
    padding: 8px 0;
    cursor: pointer;
}

@media (max-width: 767px) {
    .header-description {
        flex-wrap: wrap;
    }

    .header-text {
        order: 1;
    }

    .nav-menu {
        display: none;
    }

    .my-photo {
        height: 200px;
        min-width: 100vw;
    }

    .header-menu {
        padding: 8px 24px;   
    }

    .header-links-icons {
        margin-left: auto;
    }

    .header-description {
        width: 272px;
        margin: 0 auto;
        padding: 0;
    }

    .header-text {
        padding-top: calc(20 * 100vh / 568);
        padding-bottom: calc(32 * 100vh / 568);
    }
    
    .header-text-welcome {
        font-size: 16px;
        line-height: 2em;
    }

    .header-welcome-else {
        font-size: 24px;
        line-height: 1.33em;
        padding-top: calc(5 * 100vh / 568);
        padding-bottom: calc(40 * 100vh / 568);
    }

    /* .button-skills {
        text-align: center;
    }

    .button-skills-description {
        padding: 8px 99px;
    } */

}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.section-container {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 0 calc(200 * 100vw / 1440); 
    box-sizing: border-box;
}

/* @media (min-width: 1439px) {
    .section-container {
      width: 1040px;  
      margin: 0 auto;
    }  

} */

.skills {
    background-color: #F5F5F7;
    
}

.section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1em;
    color: #3F3D56;
    margin-top: 104px;
    margin-bottom: 22px;
    text-transform: capitalize;
}

.section-texts{
    width: 50%;
}

.content-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 2em;
    color: #5C5A6F;
    /* margin-right: calc(198 * 100vw / 1440); */
}

.skills-items {
    margin-top: 33px;
    margin-bottom: 57px;
}

.skill-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    color: #3F3D56;
    padding-left: 14px;
    border-left: 2px solid  #6C63FF;
}

.skill-item:nth-child(n+2) {
    margin-top: 24px;
}

.download {
    text-decoration: underline;
}

/* .section-img {
    
    /* margin-left: calc(195 * 100vw / 1440);
} */

.skills-svg-img {
    width: 100%;
}

@media (min-width: 1440px) {
    .skills-svg-img {
        width: 424px;
        height: 395px;
    }
}

@media (max-width: 767px) {
    .section-img {
        display: none;
    }

    .section-title {
        margin-top: 45px;
    }

    .section-texts {
        width: 100%;
    }

    .skill-item:nth-child(n+2) {
        margin-top: 20px;
    }
}

.description-about-me {
    width: 600px;
}

.footer-container {
    max-width: 510px;
    background: #F5F5F7;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}

.footer-container .section-title {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 70px;
    text-align: center;
}

.footer-container .content-text {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form-row {
    text-align: center;
}

.form-row:nth-child(n+2) {
    margin-top: 24px;
}

.form-row:last-child {
    text-align: left;
    padding-left: 88px;
}

.field:focus {
    outline-color: #6C63FF;
}

.field {
    box-sizing: border-box;
    border: 1px solid #BCBBC4;
    border-radius: 2px;
    width: 336px;
    padding: 8px 16px;
    font-family: inherit;
}

.textarea {
    min-width: 336px;
    max-width: 336px;
    min-height: 64px;
    max-height: 200px;
}

.send-button {
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background-color: #6C63FF;
    border-radius: 2px;
    width: 336px;
    padding: 8px 152px;
    cursor: pointer;    
}

.send-button:focus {
    outline-style: none;
}

.send-button:hover {
    background-color: #827AFF;    
}

.send-button:active {
    background-color: #9F9AFF;
}

.footer-links-icons .icon-color {
    fill: #6C63FF;
}

.footer-links-icons .icon-color:hover {
    fill: #827AFF;
}

.footer-links-icons .icon-color:active {
    fill: #9F9AFF;
}

.footer-links-icons .icon:nth-child(n+2) {
    padding-left: 64px;
    text-align: center;
}
.footer-links-icons .icons {
    justify-content: center;
    padding: 36px 0;
}